
# VPC in eu-west-1
module "vpc_config_eu_west_1" {
  source = "./modules/vpc"

  vpc_configs = {
    "ireland" = {
      core = {
        primary        = "{{ item.CorePriCIDR[0] }}"
        secondary      = "{{ item.CoreSecCIDR[0] }}"
        subnets_per_az = { public_subnets = {{ item.CorepublicSubnetsPerAZ }}, private_subnets = {{ item.CoreprivateSubnetsPerAZ }} }
        attach_igw     = {{ item.coreIgw | lower }}
      }
      edge = {
        primary        = "{{ item.EdgePriCIDR[0] }}"
        secondary      = "{{ item.EdgeSecCIDR[0] }}"
        subnets_per_az = { public_subnets = {{ item.EdgepublicSubnetsPerAZ }}, private_subnets = {{ item.EdgeprivateSubnetsPerAZ }} }
        attach_igw     = {{ item.edgeIgw | lower }}
      }
    }
  }
  azs_per_vpc = {{ item.azsperVPC }}

  tags = {
    Environment = "dev"
    Client      = "client-x"
  }
}

output "core_vpc_ids" {
  description = "Core VPC IDs from the vpc module"
  value       = module.vpc_config_eu_west_1.core_vpc_ids
}

output "edge_vpc_ids" {
  description = "Edge VPC IDs from the vpc module"
  value       = module.vpc_config_eu_west_1.edge_vpc_ids
}

output "core_private_subnet_cidrs" {
  description = "Core private subnet CIDRs from the VPC module"
  value       = module.vpc_config_eu_west_1.core_private_subnet_cidrs
}

output "core_public_subnet_cidrs" {
  description = "Core public subnet CIDRs from the VPC module"
  value       = module.vpc_config_eu_west_1.core_public_subnet_cidrs
}

output "edge_private_subnet_cidrs" {
  description = "Edge private subnet CIDRs from the VPC module"
  value       = module.vpc_config_eu_west_1.edge_private_subnet_cidrs
}

output "edge_public_subnet_cidrs" {
  description = "Edge public subnet CIDRs from the VPC module"
  value       = module.vpc_config_eu_west_1.edge_public_subnet_cidrs
}