
# Configure the AWS Provider
provider "aws" {
  access_key = '{{ lookup("env", "AWS_ACCESS_KEY_ID") }}'
  secret_key = '{{ lookup("env", "AWS_SECRET_ACCESS_KEY") }}'
  region  = "eu-north-1"
}

# Create a VPC
resource "aws_vpc" "example" {
  cidr_block = "10.0.0.0/16"

   tags = {
   Name = "Project VPC"
 }
}