
# Configure the AWS Provider
provider "aws" {
  access_key = "{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}"
  secret_key = "{{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}"
  region  = "{{ region }}"
}

# Create a VPC
resource "aws_vpc" "example" {
  cidr_block = "{{ ipv4CIDR }}"

   tags = {
   Name = "{{ vpcName }}"
 }
}